@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&display=swap');


* {
  font-family: 'Archivo';
}

h1 {
  font-size: 5rem;
  font-family: 'Merriweather';
  font-weight: 900;
}

h2 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
  margin: 1%;
}

h5 {
  font-size: 2.2rem;
}

#main-title {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-style: italic;
  color:rgba(228, 83, 31, 0.915);
  transform: scale(1.2);
}

.App {
  text-align: center;
}

.container {
  display: "flex";
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

.columnize {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  padding: 1%;
}

/***

Animations

***/

.grow-right {
  animation: grow-right 500ms ease-in-out;
}

.slide-right {
  animation: slide-right 500ms ease-in-out;
}

.scale-left {
	-webkit-animation: scale-up-hor-right 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
	animation: scale-up-hor-right 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
}

@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}


/***

General styling classes

***/


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.border {
  border: 1px solid rgba(40, 39, 39, 0.3);
  border-radius: 24px 24px;
  box-shadow: 0 1px 2px 1px rgba(40, 39, 39, 0.3);
}

.border-inset {
  border: 1px solid rgba(40, 39, 39, 0.3);
  border-radius: 24px 24px;
  box-shadow: inset 2px 2px 2px 1px rgba(40, 39, 39, 0.3);
}

.itemHover:hover {
  color: plum;
  transition: ease-in-out;
  /* animation: grow-right 1s ease-in-out; */
}

#searchbox {
  height: 50%;
}

#searchbox:focus {
  outline: none;
}

#search {
  /* transform: scale(1); */
  border: none;
  cursor: pointer;
  width: 15%;
  height: 5em;
}

.header {
  display: flex;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 254, 254, 0.875);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.7);
  height: 12vh;
  width: 100vw;
  opacity: 95%;
}

.header-inner > * {
  margin: 0 2%;
}



.header-search {
  display: flex;
  height: 3rem;
  width: 40rem;
  padding: 1%;
  margin: 0 2%;
}

.header h2 {
  margin: auto;
  margin-top: 3%;
  color: rgba(228, 83, 31, 0.915);
  font-weight: 900;
  font-size: 4rem;
  filter: drop-shadow(2px 2px 0px rgba(255, 244, 244, 0.8));
}

.header-stats h4 {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

/***
NAV
***/


.navbar {
  display: flex;
  width: 80vw;
  height: 5vh;
  transform: scale(0.9);
}

.nav-links-wrap {
  background-color: rgba(250, 250, 250, 0.824);
  width: 50%;
  height: 90%;
}

.nav-links-items {
  width: 70%;
  height: 80%;
}

/* .scrolling-section::-webkit-scrollbar {
  display: none;
}

.scrolling-section {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

/***

***/


.filter-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 3%;
  gap: 1em;
}

/*** 
Content Cards
***/

.content-area {
  background-color: rgba(255, 250, 250, 0.801);
  margin-top: 10%;
  transform: scale(0.72);
  opacity: 20%;
}

.content-news {
  background: transparent;
  padding: 2%;
  transform: scale(0.9);
}

.content-news h2, .content-news h4 {
  color: white;
  width: fit-content;
  padding: 1%;
}

.content-news:hover {
  opacity: 70%;
  cursor: pointer;
}

.content-header {
  padding: 2% 3%;
}

#content-section {
  color: aliceblue;
  font-size: 3rem;
}

.img-wrap, .inner-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



/****************************************************************

Media Queries

****************************************************************/



@media screen and (min-width: 300px)
{

  * {
    font-size: 0.6rem;
  }


  /***
  
  header

  ***/

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(254, 254, 254, 0.875);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.7); */
    height: 100%;
    width: 100vw;
    opacity: 95%;
  }

  .container {
    margin-top: 5vh;
  }

  
  .navbar {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 90%;
    margin: 1% auto;
    overflow: auto;
  }

  .nav-links-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2% auto;
    padding: 1%;
  }

  .nav-link-item {
    font-size: 3rem;
    margin: 5% auto;
  }

  .nav-link-item:hover {
    color:rgba(228, 83, 31, 0.915);
    font-size: 3rem;
    margin: 5% auto;
  }



  /***

  Content

  ***/

  .filter-news{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 0;
    margin: 0;
  }

  .filter-news > * {
    transform: scale(0.8);
  }

  .content-news {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-header {
    padding: 5%;
  }
}



@media screen and (min-width: 900px) {


  /***
  
  header

  ***/

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(254, 254, 254, 0.875);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.7); */
    height: 100%;
    width: 100vw;
    opacity: 95%;
  }

  .container {
    margin-top: 5vh;
  }

  
  /* .navbar {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 90%;
    margin: 1% auto;
    overflow: auto;
  } */
/* 
  .nav-links-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2% auto;
    padding: 1%;
  } */

  .nav-link-item {
    font-size: 3rem;
    margin: 5% auto;
  }

  .nav-link-item:hover {
    color:rgba(228, 83, 31, 0.915);
    font-size: 3rem;
    margin: 5% auto;
  }



  /***

  Content

  ***/


  .filter-news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0;
  }

  .filter-news > * {
    transform: scale(0.9);
  }

  .content-news {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* flex-direction: column-reverse; */
  }

  .content-header {
    padding: 5%;
  }
}



@media screen and (min-width: 1330px)
{

  /***
  
  header

  ***/

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .header-inner {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    opacity: 95%;
  }

  .container {
    margin-top: 5vh;
  }

  
  .navbar {
    display: flex;
    /* flex-direction: column; */
    height: 8vh;
    width: 60vw;
    margin: 1% auto;
    overflow: auto;
  }

  .nav-links-items {
    /* display: flex;
    flex-direction: column; */
    justify-content: flex-start;
    margin: 2% auto;
    padding: 1%;
  }

  .nav-link-item {
    font-size: 3rem;
    margin: 5% auto;
  }

  .nav-link-item:hover {
    color:rgba(228, 83, 31, 0.915);
    font-size: 3rem;
    margin: 5% auto;
  }



  /***

  Content

  ***/

  .navbar {
    display: flex;
    /* flex-direction: column; */
    width: 60vw;
    height: 8vh;
    margin: 1% auto;
    overflow: auto;
  }

  .nav-links-items {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    margin: 2% auto;
    padding: 1%;
  }

  .nav-link-item h5 {
    font-size: 3rem;
    margin: 0;
  }


  .filter-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
  }

  .filter-news > * {
    transform: scale(0.9);
  }

  .content-news, .img-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* flex-direction: column-reverse; */
  }

  .content-header {
    padding: 5%;
  }
}


@media screen and (min-width: 1600px)
{

  header, .header-inner {
    display: flex;
  }
  .filter-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
  }

  .filter-news > * {
    transform: scale(0.83);
  }

  .content-news {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-header {
    padding: 5%;
  }
}




@media screen and (min-width: 1900px)
{

  header, .header-inner {
    display: flex;
  }

  .filter-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .filter-news > * {
    transform: scale(0.83);
  }

  .content-news {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-header {
    padding: 5%;
  }

}


@media screen and (min-width: 2350px)
{

  header, .header-inner {
    display: flex;
    flex-direction: row;
  }

  .filter-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .filter-news > * {
    transform: scale(0.8);
  }

  .content-news {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-header {
    padding: 5%;
  }

}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(33);
  }
  70% {
    transform: translateX(70);
  }
  /* 100% {
    transform: translateX(100);
  } */
}

@keyframes grow-right {
  0% {
    transform: translateX(0);
    width: 0;
  }
  33% {
    transform: translateX(33);
    width: 33%;
  }
  70% {
    transform: translateX(70);
    width: 70%;
  }
  /* 100% {
    transform: translateX(100);
    width: 100%;
  } */
}